* {
	box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
	color: #ABC3D9;
}
body {
	font-size: 14px;
	color: #575F73;
	font-weight: 400;
	font-family: "HelveticaNeueCyr", sans-serif;
	background: #F4F6FA;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
a {
	text-decoration: none;
	color: #0466C8;
	outline: none;
}
a:hover {
	text-decoration: none;
	color: #0466C8;
}
.wrap {
	position: relative;
	overflow: hidden;
	z-index: 111;
}
figure {
	outline: none;
}
/* pattern */
.container {
	max-width: 1136px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
.text-bold {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
}
.white {
	color: #ffffff;
}
.grey-1 {
	color: #A8B0C6;
}
.grey-2 {
	color: #AFB9D2;
}
.grey-3 {
	color: #B6BCCD;
}
.black {
	color: #575F73;
}
.column {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}
.row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
}
.center-align {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
}
.block_inner {
	margin-left: -8px;
	margin-right: -8px;
}
.block_item {
	padding-left: 8px;
	padding-right: 8px;
}
.url:hover, .url:hover span, .url:hover h1, .url:hover h2, .url:hover h3, .url:hover h4 {
	color: #0466C8;
}
.url:hover svg path {
	color: #0466C8;
	fill: #0466C8;
}
/* header */
.header {
	position: relative;
	background: #313A52;
	padding-bottom: 50px;
}
.phone_item__number {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	padding-bottom: 6px;
}
.phone_item p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #B6BCCD;
	margin: 0;
}
.header_bottom__item {
	width: 25%;
}
.header_logo__desc {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 750;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color: #E2E6F0;
	padding-left: 16px;
}
.header_top__inner {
	display: flex;
	justify-content: space-between;
}
.header_top {
	padding-top: 13px;
	padding-bottom: 16px;
	border-bottom: 1px solid #404A65;
}
.header_menu ul > li > a {
	color: #B6BCCD;
	padding: 16px;
}
.header_menu ul > li > a:hover {
	color: #0466C8;
}
.is-dropdown-submenu {
	border: none;
	background: #fff;
}
.header_menu ul > li > ul > li > a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #3D4961;
	padding: 16px 20px!important;
}
.header_menu ul > li > ul > li > a:hover {
	background: #EFEFEF;
	color: #0466C8;
}
.header_menu .dropdown.menu > li.opens-right > .is-dropdown-submenu {
	top: 62px;
	z-index: 111;
}
.header_bottom {
	padding-top: 18px;
	padding-bottom: 25px;
}
.header_bottom__item {
	padding-top: 16px;
	padding-bottom: 16px;
}
.fire-back {
  background-image: url(img/fire.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	background-image: url(img/arrow-down.svg);
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	border: none;
	width: 16px;
	height: 16px;
	margin-top: -7px!important;
}
.header_login__img {
	padding-right: 16px;
}
.header_login__inner {
	padding-right: 24px;
}
.header_login__url:hover span {
	color: #0466C8;
}
.header_search__url {
	padding: 16px;
}
.main {
	position: relative;
}
.section {
	position: relative;
	margin-bottom: 64px;
}
.section_title {
	margin-bottom: 32px;
}
.section_title h2 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	position: relative;
	margin-right: 32px;
	margin-bottom: 0;
}
.section_title a {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 750;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #0466C8;
}
.section_title h2::after {
	content: '';
	display: flex;
	height: 26px;
	width: 1px;
	background: #C4CCDD;
	position: absolute;
	right: -16px;
	top: 4px;
}
/* slider */
.slider_section {
	top: -60px;
	z-index: 1;
	margin-bottom: 0;
}
.slider-main {
	width: 100%;
}
.slider-main .slick-list {
	width: 75%;
}
.slider__dots {
	width: 25%;
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: 0;
	margin-top: -8px;
	margin-bottom: -8px;
	margin-left: 16px;
}
.slider__dots li {
	width: 273px;
	height: auto;
	object-fit: cover;
	padding-top: 8px;
	padding-bottom: 8px;

}
.slider__dots li img {
	width: 273px;
	height: 136px;
	z-index: -1;
	position: relative;
}
.dots-item {
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.4);
	position: relative;
	background: rgba(0, 0, 0, 0.4);
	position: relative;
}
.dots-item span {
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.slick-active .dots-item::before {
	content: '';
	position: absolute;
	top: 40%;
  left: -12px;
	display: flex;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 16px solid #FFB800;
}
.slick-active .dots-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	border: 5px solid #FFB800;
}
.mobile_menu {
	display: none;
}
.slider-main figure {
	position: relative;
}
.slider-main .slick-list {
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.4);
}
.slider-main figure img {
	height: 440px;
	width: 100%;
	object-fit: cover;
}
.slider-main figure figcaption {
	background: #0466C8;
	padding: 32px;
	color: #fff;
	width: 488px;
	height: 180px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.slider-main figure figcaption a h3 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 750;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.slider-main figure figcaption a p {
	font-family: "HelveticaNeueCyr", sans-serif
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.slider-main figure figcaption a:hover .slide-url {
	background-color: #086cd0;
}
.slide-url {
	position: absolute;
	width: 64px;
	height: 64px;
	right: 0;
	bottom: 0;
	background-color: #0976E3;
	background-image: url(img/arrow-right-medium.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.slider-main {
	height: 440px;
}
.slick-slider {
	visibility: hidden;
	transition: visibility 0s linear 300ms, opacity 300ms;
	opacity: 0;
}
.slick-slider.slick-initialized {
	visibility: visible;
	transition: visibility 0s linear 0s, opacity 300ms;
	opacity: 1;
}
/* banner */
.banner_content {
	background-image: url(img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.4);
}
.banner_desc {
	width: 50%;
	position: relative;
	margin-left: auto;
	padding: 32px;
}
.banner__title {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 750;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
}
.banner_desc p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 20px;
	color: #A8B0C6;
}
.button_blue {
	padding: 16px 30px;
	color: #fff;
	background: #0466C8;
	width: 160px;
	text-align: center;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 550;
	line-height: 16px;
	letter-spacing: 0em;
}
.button_blue:hover {
	color: #fff;
	background: #065aaf;
}
.section_content li {
	margin-bottom: 24px;
}
.section_content li a {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
}
.section_content li a:hover {
	color: #0466C8;
}
.faq__phone {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #313A52;
	margin-bottom: 30px;
}
.section_block:first-child .section_content {
	padding: 16px 0 0 0;
}
.section_content {
	padding: 32px;
	background: #E3EBF8;
	height: 280px;
}
.faq .section_block:first-child .section_content {
	background: transparent
}
.section_content h3 {
	font-family:"Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 750;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	margin-bottom: 16px;
}
.section_content a:hover h3 {
	color: #0466C8;
}
.section_content p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
	margin-bottom: 16px;
}
.section_content a.blue-url {
	margin-top: auto;
}
.blue {
	color: #065aaf;
}
.blue-url {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}
.blue-url:hover {
	color: #065aaf;
}
.section_block, .anonce_block {
	width: 33.33333%;
}
.anonce_date {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #AFB9D2;
	margin-bottom: 16px;
}
.anonce_content {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
	padding: 32px!important;
	height: 410px!important;
}
.anonce_mini_content h3, .news_content h3, .section__url h3 {
	font-family: "Avenir Next Cyr", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 750;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #575F73;
  margin-bottom: 16px;
}
.anonce_mini_content a:hover h3, .news_desc a:hover h3, .section__url:hover h3 {
  color: #0466C8;
}
.anonce_mini_content:first-child {
	border-bottom: 1px dashed #BAC2CE;
	margin-bottom: 20px;
	margin-left: 16px;
}
.anonce_mini_content {
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 16px;
}
.news__img img {
	height: 360px;
	object-fit: cover;
}
.news_desc {
	background: #fff;
	padding: 32px;
}
.news_content {
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
}
.news_desc a h3 {
	margin-bottom: 32px;
}
.news_block {
	width: 66.66666%;
}
.news_block:last-child {
	width: 33.33333%;
}
.news-mini_content {
	margin-left: 16px;
	margin-bottom: 32px;
	border-bottom: 1px dashed #BAC2CE;
}
.news-mini_content h3 {
	margin-top: 16px;
	margin-bottom: 32px;
}
.footer {
	background: #fff;
	padding-top: 32px;
	padding-bottom: 52px;
}
.footer_block:first-child {
	width: 40%;
}
.footer_block {
	width: 60%;
}
.footer_logo__desc {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 750;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
  color: #313A52;
	padding-left: 16px;
}
.footer_search__form input[type=submit] {
	width: 42px;
	height: 42px;
	background-image: url(img/footer_search.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: #EFF4F8;
	cursor: pointer;
}
.footer_search__form input[type=text] {
	padding: 10px 16px;
	width: 200px;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: #EFF4F8;
	margin-bottom: 0;
	height: 42px;
	color: #fff;
}
.footer_logo p {
	margin-top: 16px;
	margin-bottom: 26px;
	color: #A8B0C6;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
}
.footer_menu {
	width: 33.33333%;
	padding-top: 16px;
}
.footer_menu span {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: 750;
	font-size: 18px;
	line-height: 26px;
	color: #575F73;
	margin-bottom: 16px;
	display: flex;
}
.footer_menu ul li {
	margin-bottom: 2px;
}
.footer_menu ul li a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
	color: #A8B0C6;
}
.footer_menu ul li a:hover {
	color: #0466C8;
}
.footer_bottom {
	justify-content: space-between;
	padding-top: 80px;
}
.footer_copyright, .footer_platforma {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
}
.footer_platforma a {
	font-weight: bold;
}
.off-canvas {
	background: #262B36;
	height: 380px;
}
.canvas_search__form input[type=submit] {
	width: 100px;
	height: 100px;
	background-image: url(img/header-search.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.canvas_search__form input[type=text]::placeholder {
	color: #0466C8;
}
.canvas_search__form input[type=text] {
	padding: 26px 16px;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	margin-bottom: 0;
	height: 42px;
	color: #fff;
	font-size: 42px;
	height: 100px;
}
.canvas_inner {
	padding-top: 32px;
}
.canvas_menu__title {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #0466C8;
	margin-bottom: 11px;
	display: flex;
}
.canvas_menu ul li a {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.canvas_menu ul li a:hover {
	color: #0466C8;
}
.canvas_menu ul {
	width: 560px;
	height: 100px;
	flex-wrap: wrap;
}
.canvas_menu ul li {
	margin-bottom: 7px;
}
.mobile_top {
	background: #2D354D;
}
.mobile_top__inner {
	justify-content: flex-end;
}
.anonce .section_block{
	width: 50%;
}
/* page */
.sidebar {
	width: 25%;
	padding-right: 32px;
}
.sidebar_menu__content li a {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	display: flex;
	padding: 16px 0;
}
.sidebar_menu__content li a:hover {
	color: #0466C8;
}
.sidebar_menu {
	margin-top: 32px;
}
.sidebar_menu ul > li {
	border-bottom: 1px solid #E0E2EB;
}
.sidebar_menu ul li > ul > li {
	margin-top: 8px;
	margin-bottom: 8px;
	border: none;
}
.sidebar_menu ul li.active a {
	color: #0466C8;
	position: relative;
	padding: 16px;
}
.sidebar_menu ul li.active a::before {
	content: "";
	display: flex;
	width: 3px;
	height: 30px;
	border-radius: 0 5px 5px 0;
	background-color: #0466C8;
	position: absolute;
	left: 0;
	top: 13px;
}
.page {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
}
.page_wrap {
	position: relative;
	width: 75%;
	top: -60px;
}
.page_inner {
	padding: 32px;
	background: #fff;
	min-height: 450px;
}
.breadcrumb a, .breadcrumb span, .breadcrumb {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
}
.page_title {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;;
	margin-top: 8px;
	margin-bottom: 32px;
}
.news_list__block {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	margin-bottom: 32px;
}
.news_list__block:last-child {
	margin-bottom: 0;
}
.news_list__img {
	width: 30%;
}
.news_list__img img {
	width: 100%;
	height: 160px;
	object-fit: cover;
}
.news_list__desc {
	width: 70%;
	padding-left: 32px;
}
.news_list__desc h2 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	margin-top: 8px;
}
.news_list__desc p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #3B3E4F;
	margin-top: 8px;
	margin-bottom: 8px;
}
.news_list__date {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #AFB9D2;
}
.showmore {
	width: 100%;
	padding: 16px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-content: center;
	justify-content: center;
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #0466C8;
	background: #fff;
	margin-top: 32px;
	box-shadow: 0px 10px 30px rgba(48, 65, 150, 0.1);
	position: relative;
	height: 56px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #0466C8;
  border-color: #0466C8 transparent #0466C8 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.back_page a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}
.back_page a svg {
	width: 15px;
	height: 15px;
	display: flex;
	margin-right: 10px;
}
.page_slider {
	margin-bottom: 32px;
}
.page_slider__big img {
	width: 100%;
	height: 420px;
	object-fit: cover;
}
.page_slider__big {
	margin-bottom: 16px;
	height: 420px;
}
.page_slider__thumb {
	margin-left: -4px;
	margin-right: -4px;
	height: 70px;
}
.page_slider__thumb .slick-list .slick-track {
	margin-left: 0!important;
}
.page_slider__thumb-img {
  padding-left: 4.5px;
  padding-right: 4.5px;
  cursor: pointer;
	outline: none;
	position: relative;
}
.page_slider__thumb-img.slick-current::after {
	position: absolute;
	display: flex;
	top: 0;
	content: '';
	width: 88px;
	height: 100%;
	border: 1px solid #4E7ED9;
}
.page_slider__thumb-img img {
  width: 88px;
  height: 70px;
  object-fit: cover;
	outline: none;
	opacity: 0.6;
}
.page_slider__thumb-img.slick-current img {
	opacity: 1;
}
.page_slider__big-img {
	position: relative;
}
.page_slider__big-img a::after {
	content: '';
	width: 36px;
	height: 36px;
	background-color: #0466C8;
	background-image: url(img/zoom.svg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	cursor: pointer;
	right: 32px;
	bottom: 32px;
}
.page_slider__thumb .slick-prev {
	background-image: url(img/arrow-left.png);
  left: 20px;
}
.page_slider__thumb .slick-next {
	background-image: url(img/arrow-right.png);
  right: 20px;
}
.slick-arrow.slick-disabled {
	display: none!important;
}
.page_slider__thumb .slick-arrow {
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	position: absolute;
	z-index: 9;
}
.slick-prev:before, .slick-next:before {
	content: none;
}
.page_share p {
	margin-bottom: 24px;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 13px;
	letter-spacing: 0em;
	text-align: left;
}
.ya-share2__list.ya-share2__list_direction_horizontal {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
	width: 134px!important;
	height: 36px!important;
	background-repeat: no-repeat;
	background-position: 10px 6px;
}
.ya-share2__link {
	position: relative;
}
.ya-share2__badge {
	border-radius: 5px!important;
}
.ya-share2__title {
  position: absolute;
  top: 0;
	left: 9px;
  color: #fff!important;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	margin-left: 0!important;
}
.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
	margin-right: 16px!important;
}
.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item > .ya-share2__link > .ya-share2__title {
	display: flex!important;
}
.ya-share2__badge {
  width: 100%;
}
.page_desc {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 16px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}
.page_desc p {
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: 28px;
}
.page_other {
	margin-top: 32px;
}
.page_other h2 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 750;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	margin-bottom: 32px;
}
.page_other .news_list__block {
	background: #fff;
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
}
.page_other .news_list__desc {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.page_desc h3 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
}
.faq_accordion {
	margin-top: 32px;
	margin-bottom: 32px;
}
.accordion {
	background: #fff;
}
.accordion li:first-child {
	border-top: 1px solid #DBE0EB;
	border-bottom: 1px solid #DBE0EB;
}
.accordion li {
	border-bottom: 1px solid #DBE0EB;
}
.accordion li:last-child {
	border-bottom: 0;
}
.accordion-title {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 750;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	padding: 24px 0;
}
.accordion-item.is-active .accordion-title {
	color: #0466C8;
}
.accordion-content {
	border-right: 0;
	border-left: 0;
	border-top: 1px solid #DBE0EB;
	border-bottom: 0;
	position: relative;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}
.accordion-title::before {
	font-size: 24px;
	margin-top: -10px;
	right: 16px;
}
.accordion-content::before {
  content: '';
  display: flex;
  width: 4px;
  height: calc(100% - 64px);
  background: #0466C8;
  position: absolute;
  padding-bottom: 32px;
  left: 0;
  top: 32px;
}
.sidebar_menu__sub li a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #7F8DA8;
	padding: 0;
}
.sidebar_menu__sub {
	margin-top: 8px;
	margin-bottom: 16px;
}
.files li a h4 {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
}
.files li {
	margin-bottom: 24px;
}
.files li a span {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #A8B0C6;
	margin-top: 8px;
}
.files_img {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-right: 16px;
	width: 30px;
	min-width: 30px;
}
.page_content h2 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: 750;
	font-size: 18px;
	line-height: 26px;
	color: #575F73;
	margin-bottom: 16px;
	margin-top: 16px;
}
.work_desc {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding: 24px;
}
.work_number {
	margin-top: 32px;
	margin-bottom: 16px;
}
.work_number h3 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: 750;
	font-size: 42px;
	line-height: 51px;
	color: #0466C8;
}
.work_number li {
	margin-right: 60px;
}
.work_desc h3 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: 750;
	font-size: 25px;
	line-height: 31px;
	color: #FFFFFF;
}
.work_desc p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
	color: #fff;
	margin-top: 8px;
}
.work_number-1 h3 {
	color: #0466C8;
}
.work_number-2 h3 {
	color: #FC7A31;
}
.work_number-3 h3 {
	color: #FFB800;
}
.work_desc-1 {
	background: #0466C8;
}
.work_desc-2 {
	background: #FC7A31;
}
.work_desc-3 {
	background: #FFB800;
}
.work_img img {
	height: 240px;
	object-fit: cover;
}
.leaders {
	flex-wrap: wrap;
}
.leaders_block {
	width: 50%;
}
.leaders_desc h3 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	display: flex;
	align-items: center;
	color: #313A52;
}
.leaders_desc span {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #A8B0C6;
	margin-top: 8px;
}
.leaders_desc a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #0466C8;
	margin-top: 16px;
}
.leader_main__img {
	width: 218px;
	border: 1px solid #EAECEF;
	margin-right: 32px;
}
.leaders_desc a::after {
	content: '';
	display: flex;
	width: 16px;
	height: 16px;
	background-image: url(img/arrow1.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.leader_main {
	margin-bottom: 64px;
}
.leaders_img {
	margin-bottom: 16px;
}
.leaders_block {
	margin-bottom: 32px;
}
.leader_content h1 {
	margin-bottom: 8px;
}
.leader_content span {
	font-size: 15px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #A8B0C6;
}
.leader_content p {
	margin-top: 16px;
}
.leader_obr {
	padding: 24px;
	background: #F4F7FD;
	margin-bottom: 16px;
}
.contact_list ul li {
	margin-bottom: 8px;
}
.contact_map {
	margin-top: 16px;
}
.col-6 {
	width: 50%;
}
.col-12 {
	width: 100%;
}
.feedback_block {
	width: 33.3333%;
}
.feedback_text {
	width: 100%;
}
.feedback_file {
	width: 100%;
}
.feedback_form {
	flex-wrap: wrap;
}
.feedback_form span {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #575F73;
	margin-bottom: 8px;
}
.feedback_form {
	margin-left: -8px;
	margin-right: -8px;
}
.feedback_form input[type=text] {
	padding: 8px 16px;
	border: none;
	outline: none;
	color: #000;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	border: none;
	box-shadow: none;
	background: #F4F6FA;
}
.feedback_form input[type=text]::placeholder {
	color: #A9B0C2;
}
.feedback_text span {
	margin-bottom: 8px;
	display: flex;
}
.feedback_text textarea {
	box-shadow: none;
	background: #F4F6FA;
	padding: 16px;
	border: none;
	outline: none;
}
.feedback_file span {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	color: #A9B0C2;
	white-space: nowrap;
}
.feedback_submit {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.feedback_submit input {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: 550;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	background: #0466C8;
	padding: 16px 40px;
	border: none;
	outline: none;
	margin-left: 16px;
}
.search_page ul li {
	margin-top: 32px;
	margin-bottom: 32px;
	border-bottom: 1px solid #DBE0EB;
}
.search_page ul li a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #0466C8;
}
.search_page ul li p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
	color: #575F73;
	margin-top: 16px;
}
.pagination {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}
.pagination ul {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
}
.pagination ul li {
	padding-right: 8px;
	padding-left: 8px;
}
.pagination ul li a {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: transparent;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #505A7A;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
}
.pagination_arrow a, .pagination_arrow span {
	padding: 0;
}
.pagination ul li.active a {
	color: #fff;
	background: #0466C8;
}
.pagination_arrow a:hover {
	background: transparent;
}
.example_url .container ul {
	flex-wrap: wrap;
}
.example_url .container ul li {
	margin-right: 16px;
}
.anonce .section_block:nth-child(2n), .mobile_top, .mobile-header_button, .footer_search__mobile {
  display: none;
}
@media (max-width: 1200px) {
	.container {
		max-width: 848px;
	}
	.page_slider__big img {
		height: 340px;
	}
	.page_slider__big {
		height: 340px;
		margin-left: -32px;
		margin-right: -32px;
	}
	.page_inner {
		max-width: 636px;
	}
	.search .page_inner {
		max-width: 100%;
	}
	.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
		margin-right: 8px!important;
		margin-bottom: 8px!important;
	}
	.page_desc {
		margin-top: 8px;
	}
	.page_desc {
		font-size: 14px;
	}
	.mobile_top {
		display: block;
	}
	.phone_item__number, .banner__title, .slider-main figure figcaption a h3, .section_title h2, .page_title {
		font-size: 20px;
	}
	.header_bottom__item {
		padding-left: 0;
		padding-right: 0;
	}
	.slider-main .slick-list {
    width: 65%;
	}
	.slider-main figure img, .slider-main {
		height: 390px;
	}
	.slider__dots li img {
    width: 272px;
    height: 120px;
    z-index: -1;
    position: relative;
	}
	.banner_content {
		background-position: bottom;
	}
	.banner_desc p, .news_list__date {
		font-size: 14px;
	}
	.faq_inner {
		flex-wrap: wrap;
	}
	.faq_inner .section_block:first-child {
		width: 100%;
		height: 140px;
	}
	.faq_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.faq_list li {
		width: 50%;
	}
	.faq_inner .section_block, .news_block, .news_block:last-child {
		width: 50%;
	}
	.news__img img {
		height: 250px;
	}
	.news_list__img img {
		height: 128px;
	}
	.anonce_mini_content h3, .news_content h3, .section__url h3, .news_list__desc h2 {
		font-size: 16px;
	}
	.faq .section_block:first-child .section_content {
		background: transparent;
	}
	.header_logo__desc {
		font-size: 22px;
	}
	.anonce_date, .accordion-content, .work_desc p {
		font-size: 14px;
		font-weight: normal;
	}
	.accordion-content {
		font-size: 14px;
		color: #575F73;
	}
	.footer_logo__desc {
		font-size: 20px;
	}
	.footer_menu span, .accordion-title, .sidebar_menu ul li a {
		font-size: 16px;
	}
	.news_list__desc {
		padding-left: 16px;
	}
	.work_number li {
		margin-right: 16px;
	}
	.work_desc h3 {
		font-size: 20px;
	}
	.work_number h3 {
		font-size: 36px;
	}
	.header_login {
		display: none;
	}
}
@media (max-width: 850px) {
	.container {
		max-width: 420px;
	}
	.col-6 {
		width: 100%;
	}
	.page, .contact_list, .work_block {
		flex-direction: column;
	}
	.work_block-2 {
		flex-direction: column-reverse;
	}
	.sidebar {
		width: 100%;
    background: #fff;
	}
	.work_img img, .leaders_block {
		width: 100%;
	}
	.pagination ul li {
		display: flex;
	}
	.feedback_block {
		width: 100%;
	}
	.feedback_file {
		flex-direction: column;
	}
	.work_desc {
		padding: 16px 24px;
	}
	.work_number h3 {
		font-size: 24px;
		line-height: normal;
	}
	.sidebar_menu {
    margin-top: 0;
    background: #fff;
		position: relative;
	}
	.sidebar_menu ul li.active a::before {
		width: 100%;
		height: 3px;
		border-radius: 0;
		top: auto;
		bottom: 0;
		left: 0;
	}
	.sidebar_menu ul li a {
		padding: 16px 0!important;
		color: #A8B0C6;
		font-size: 16px;
		white-space: nowrap;
	}
	.sidebar_menu ul li {
		margin-right: 16px;
		border: none;
		position: relative;
	}
	.page_wrap {
		padding: 32px 0;
	}
	.page_inner {
		background: transparent;
		padding: 0;
	}
	.news_list__block {
		flex-direction: column;
		box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
	}
	.news_list__img {
		width: 100%;
	}
	.news_list__img img {
		height: 200px;
	}
	.news_list__desc h2 {
		line-height: 22px;
	}
	.news_list__desc p {
		color: #A8B0C6;
	}
	.news_list__desc {
		width: 100%;
		padding: 24px;
		background: #fff;
	}
	.page_wrap {
		top: 0;
		width: 100%;
	}
	.slider-main .slick-list {
		width: 100%;
	}
	.slider-main figure figcaption {
    background: #0466C8;
    padding: 16px;
    color: #fff;
    width: 100%;
    height: 150px;
    position: relative;
    right: auto;
    bottom: 0;
	}
	.slider-main figure img {
		height: 200px;
	}
	.slider-main {
		height: 350px
	}
	.banner_content {
    background-position: 25% 0%;
		background-size: auto;
		height: 450px;
		position: relative;
		background-color: #fff;
	}
	.banner_desc {
    width: 100%;
    position: absolute;
    margin-left: auto;
    padding: 24px;
    bottom: 0;
		left: 0;
	}
	.page_slider__big {
    margin-left: -16px;
    margin-right: -16px;
	}
	.back-white {
		background: #fff;
	}
	.faq_list {
		flex-direction: column;
	}
	.faq_inner .section_block:first-child, .section_content {
		height: auto;
	}
	.faq_list li, .faq_inner .section_block, .news_block, .news_block:last-child {
		width: 100%;
	}
	.faq_inner .section_block, .news_block, .news_block:last-child {
		margin-bottom: 16px;
	}
	.faq__phone {
		font-size: 22px;
	}
	.blue-url {
		font-size: 14px;
	}
	.anonce .section_block:first-child, .news_block:first-child, .footer_search__mobile {
		display: flex;
	}
	.anonce_content {
		height: auto!important;
		padding: 24px!important;
	}
	.anonce .section_block {
		width: 100%;
	}
	.footer {
		background: #313A52;
	}
	.news_desc {
		padding: 24px;
	}
	.footer_block:first-child, .footer_block {
		width: 100%;
	}
	.footer .block_inner {
		flex-wrap: wrap;
	}
	.footer_logo__desc, .footer_menu span {
		color: #fff;
	}
	.footer_menu {
		width: 50%;
	}
	.footer_bottom {
		flex-direction: column;
		padding-top: 32px;
	}
	.footer_platforma a {
		color: #A8B0C6;
	}
	.footer_search__mobile {
		margin-top: 32px;
	}
	.footer_search__form input[type=submit] {
		background-color: #3D4866;
	}
	.footer_search__form input[type=text] {
		background: #3D4866;
		font-size: 14px;
	}
	.slider__dots {
		display: none!important;
	}
	.slider_section {
		top: 0;
	}
	.header_logo__desc {
		font-size: 14px;
	}
	.header_logo__img svg {
		width: 32px;
		height: 32px;
	}
	.header_top {
		padding: 0;
	}
	.footer_search__form, .footer_search__mobile, .footer_search__form input[type=text] {
		width: 100%;
	}
	.header {
		padding-bottom: 0;
	}
	.slider-main .slick-dots {
    position: absolute;
    bottom: 160px;
    left: 8px;
    text-align: left;
	}
	.slider-main .slick-dots button {
		background: transparent;
		color: #fff;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		color: #fff;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.slider-main figure figcaption a h3 {
		margin-bottom: 10px;
	}
	.section_title {
		margin-bottom: 16px;
	}
	.slide-url {
		width: 48px;
		height: 48px;
	}
	.button_blue {
		font-weight: normal;
	}
	.slider-main .slick-dots .slick-active button {
		background: #0466C8;
	}
	.slider-main .slick-dots button::before {
		display: none;
	}
	.section {
		margin-bottom: 32px;
	}
	.section_content {
		padding: 24px;
	}
	.mobile-header_button {
		display: flex;
	}
	.header_logo {
		width: 100%;
		justify-content: space-between;
	}
	.header_button__inner {
		justify-content: flex-end;
	}
	.header_button__inner button {
		padding: 0;
		margin: 0;
		outline: none;
		line-height: 0;
	}
	.dropdown_mobile {
    left: 0!important;
    width: 100%;
    border: none;
		background: #313A52;
	}
	.dropdown_mobile__inner {
		flex-wrap: wrap;
	}
	.header_bottom__item {
		width: 50%;
	}
	.header_bottom__item:last-child {
		width: 100%;
	}
	.dropdown_mobile .footer_menu {
		padding: 0;
		margin-top: 16px;
	}
	.dropdown_search {
		margin-top: 32px;
	}
	.dropdown_mobile {
		padding-bottom: 50px;
	}
	.header_bottom__item {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.header_button__burger {
		background-image: url(img/burger.png);
		background-position: center;
		background-color: #3D4864;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
	}
	.header_button__burger.hover {
		background-image: url(img/close.png);
	}
	.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
		width: 28px!important;
		height: 28px!important;
		background-position: center;
	}
	.page_desc {
		margin-top: 0;
	}
	.page_slider {
		margin-bottom: 16px;
	}
	.page_slider__big, .page_slider__big img {
		height: 300px;
	}
	.sidebar_menu__content {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
		border-bottom: 1px solid #E1E6F1;
	}
	.sidebar_menu .dropdown-pane {
		position: relative;
		top: 16px!important;
		left: 0!important;
		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
		border: none;
		width: 100%;
		padding: 0;
	}
	.sidebar_menu .dropdown-pane li {
		margin: 0;
	}
	.sidebar_menu .dropdown-pane li a {
		font-family: "HelveticaNeueCyr", sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		padding: 10px 16px!important;
		display: flex;
		white-space: normal;
		margin: 0;
		color: #575F73;
	}
	.sidebar_menu .dropdown-pane li a:hover {
		background: #0466C8;
		color: #fff;
	}
	.sidebar_menu ul > li > ul {
		flex-direction: column;
		top: 0!important;
		left: 0!important;
	}
	.sidebar_menu ul > li > ul > li > a {
		font-family: "HelveticaNeueCyr", sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		background: #000;
	}
	.sidebar_menu ul > li > ul > li > a:hover {
		color: #fff;
		background: #0466C8;
	}
	.accordion-title {
		padding-right: 32px;
	}
	.accordion-content {
		padding: 16px 0;
	}
	.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item > .ya-share2__link > .ya-share2__title {
		display: none!important;
	}
	.anonce .section_block, .news_block, .slider__dots, .header_bottom, .mobile_top, .footer_logo p, .footer_search, .header_menu, .page_share p, .news_list__block:last-child, .sidebar_menu__sub, .accordion-content::before {
		display: none;
	}
}
@media (max-width: 420px) {
	.container {
		max-width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
	.page_slider__big img, .page_slider__big {
    height: 260px;
	}
	.page_slider__thumb-img.slick-current::after {
		width: 87px;
	}
	.header_top .container, .slider_section .container {
		padding: 0;
	}
	.header_logo {
		padding-left: 16px;
	}
}
