* {
	box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
	color: #ABC3D9;
}
body {
	font-size: 14px;
	color: #575F73;
	font-weight: 400;
	font-family: "HelveticaNeueCyr", sans-serif;
	background: #F4F6FA;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
a {
	text-decoration: none;
	color: #0466C8;
	outline: none;
}
a:hover {
	text-decoration: none;
	color: #0466C8;
}
.wrap {
	position: relative;
	overflow: hidden;
	z-index: 111;
}
figure {
	outline: none;
}
/* pattern */
.container {
	max-width: 1136px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
.text-bold {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
}
.white {
	color: #ffffff;
}
.grey-1 {
	color: #A8B0C6;
}
.grey-2 {
	color: #AFB9D2;
}
.grey-3 {
	color: #B6BCCD;
}
.black {
	color: #575F73;
}
.column {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}
.row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: row;
}
.center-align {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
}
.block_inner {
	margin-left: -8px;
	margin-right: -8px;
}
.block_item {
	padding-left: 8px;
	padding-right: 8px;
}
.url:hover {
	color: #0466C8;
}
.url:hover span {
	color: #0466C8;
}
.url:hover svg path {
	color: #0466C8;
	fill: #0466C8;
}
/* header */
.header {
	position: relative;
	background: #313A52;
	padding-bottom: 50px;
}
.phone_item__number {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	padding-bottom: 6px;
}
.phone_item p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #B6BCCD;
	margin: 0;
}
.header_bottom__item {
	width: 25%;
}
.header_logo__desc {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 750;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color: #E2E6F0;
	padding-left: 16px;
}
.header_top__inner {
	display: flex;
	justify-content: space-between;
}
.header_top {
	padding-top: 13px;
	padding-bottom: 16px;
	border-bottom: 1px solid #404A65;
}
.header_menu ul > li > a {
	color: #B6BCCD;
	padding: 16px;
}
.header_menu ul > li > a:hover {
	color: #0466C8;
}
.is-dropdown-submenu {
	border: none;
	background: #fff;
}
.header_menu ul > li > ul > li > a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #3D4961;
	padding: 16px 20px!important;
}
.header_menu ul > li > ul > li > a:hover {
	background: #EFEFEF;
	color: #0466C8;
}
.header_menu .dropdown.menu > li.opens-right > .is-dropdown-submenu {
	top: 62px;
	z-index: 111;
}
.header_bottom {
	padding-top: 18px;
	padding-bottom: 25px;
}
.header_bottom__item {
	padding-top: 16px;
	padding-bottom: 16px;
}
.fire-back {
  background-image: url(img/fire.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	background-image: url(img/arrow-down.svg);
	background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	border: none;
	width: 16px;
	height: 16px;
	margin-top: -7px!important;
}
.header_login__img {
	padding-right: 16px;
}
.header_login__inner {
	padding-right: 24px;
}
.header_login__url:hover span {
	color: #0466C8;
}
.header_search__url {
	padding: 16px;
}
.section {
	position: relative;
	margin-bottom: 64px;
}
.section_title {
	margin-bottom: 32px;
}
.section_title h2 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	position: relative;
	margin-right: 32px;
	margin-bottom: 0;
}
.section_title a {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 750;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #0466C8;
}
.section_title h2::after {
	content: '';
	display: flex;
	height: 26px;
	width: 1px;
	background: #C4CCDD;
	position: absolute;
	right: -16px;
	top: 4px;
}
/* slider */
.slider_section {
	top: -60px;
	z-index: 1;
	margin-bottom: 0;
}
.slider-main {
	width: 100%;
}
.slider-main .slick-list {
	width: 75%;
}
.slider__dots {
	width: 25%;
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: 0;
	margin-top: -8px;
	margin-bottom: -8px;
	margin-left: 16px;
}
.slider__dots li {
	width: 273px;
	height: auto;
	object-fit: cover;
	padding-top: 8px;
	padding-bottom: 8px;

}
.slider__dots li img {
	width: 273px;
	height: 136px;
	z-index: -1;
	position: relative;
}
.dots-item {
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.4);
	position: relative;
	background: rgba(0, 0, 0, 0.4);
	position: relative;
}
.dots-item span {
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.slick-active .dots-item::before {
	content: '';
	position: absolute;
	top: 40%;
  left: -12px;
	display: flex;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 16px solid #FFB800;
}
.slick-active .dots-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	border: 5px solid #FFB800;
}
.mobile_menu {
	display: none;
}
.slider-main figure {
	position: relative;
}
.slider-main .slick-list {
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.4);
}
.slider-main figure img {
	height: 440px;
	width: 100%;
	object-fit: cover;
}
.slider-main figure figcaption {
	background: #0466C8;
	padding: 32px;
	color: #fff;
	width: 488px;
	height: 180px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.slider-main figure figcaption a h3 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 750;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.slider-main figure figcaption a p {
	font-family: "HelveticaNeueCyr", sans-serif
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}
.slider-main figure figcaption a:hover .slide-url {
	background-color: #086cd0;
}
.slide-url {
	position: absolute;
	width: 64px;
	height: 64px;
	right: 0;
	bottom: 0;
	background-color: #0976E3;
	background-image: url(img/arrow-right-medium.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.slider-main {
	visibility: hidden;
	height: 440px;
	transition: visibility 0s linear 300ms, opacity 300ms;
	opacity: 0;
}
.slider-main.slick-initialized {
	visibility: visible;
	transition: visibility 0s linear 0s, opacity 300ms;
	opacity: 1;
}
/* banner */
.banner_content {
	background-image: url(img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.4);
}
.banner_desc {
	width: 50%;
	position: relative;
	margin-left: auto;
	padding: 32px;
}
.banner__title {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 750;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
}
.banner_desc p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 20px;
	color: #A8B0C6;
}
.button_blue {
	padding: 16px 30px;
	color: #fff;
	background: #0466C8;
	width: 160px;
	text-align: center;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 550;
	line-height: 16px;
	letter-spacing: 0em;
}
.button_blue:hover {
	color: #fff;
	background: #065aaf;
}
.section_content li {
	margin-bottom: 24px;
}
.section_content li a {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
}
.section_content li a:hover {
	color: #0466C8;
}
.faq__phone {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #313A52;
	margin-bottom: 30px;
}
.section_block:first-child .section_content {
	padding: 16px 0 0 0;
}
.section_content {
	padding: 32px;
	background: #E3EBF8;
	height: 280px;
}
.section_content h3 {
	font-family:"Avenir Next Cyr", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 750;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #575F73;
	margin-bottom: 16px;
}
.section_content a:hover h3 {
	color: #0466C8;
}
.section_content p {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
	margin-bottom: 16px;
}
.section_content a.blue-url {
	margin-top: auto;
}
.blue-url {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}
.blue-url:hover {
	color: #065aaf;
}
.section_block, .anonce_block {
	width: 33.33333%;
}
.anonce_date {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #AFB9D2;
	margin-bottom: 16px;
}
.anonce_content {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
	padding: 32px!important;
	height: 410px!important;
}
.anonce_mini_content h3, .news_content h3, .section__url h3 {
	font-family: "Avenir Next Cyr", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 750;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #575F73;
  margin-bottom: 16px;
}
.anonce_mini_content a:hover h3, .news_desc a:hover h3, .section__url:hover h3 {
  color: #0466C8;
}
.anonce_mini_content:first-child {
	border-bottom: 1px dashed #BAC2CE;
	margin-bottom: 20px;
	margin-left: 16px;
}
.anonce_mini_content {
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 16px;
}
.news__img img {
	height: 360px;
	object-fit: cover;
}
.news_desc {
	background: #fff;
	padding: 32px;
}
.news_content {
	box-shadow: 0px 4px 15px rgba(49, 58, 82, 0.2);
}
.news_desc a h3 {
	margin-bottom: 32px;
}
.news_block {
	width: 66.66666%;
}
.news_block:last-child {
	width: 33.33333%;
}
.news-mini_content {
	margin-left: 16px;
	margin-bottom: 32px;
	border-bottom: 1px dashed #BAC2CE;
}
.news-mini_content h3 {
	margin-top: 16px;
	margin-bottom: 32px;
}
.footer {
	background: #fff;
	padding-top: 32px;
	padding-bottom: 52px;
}
.footer_block:first-child {
	width: 40%;
}
.footer_block {
	width: 60%;
}
.footer_logo__desc {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 750;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
  color: #313A52;
	padding-left: 16px;
}
.footer_search__form input[type=submit] {
	width: 42px;
	height: 42px;
	background-image: url(img/footer_search.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: #EFF4F8;
	cursor: pointer;
}
.footer_search__form input[type=text] {
	padding: 10px 16px;
	width: 200px;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: #EFF4F8;
	margin-bottom: 0;
	height: 42px;
}
.footer_logo p {
	margin-top: 16px;
	margin-bottom: 26px;
	color: #A8B0C6;
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
}
.footer_menu {
	width: 33.33333%;
	padding-top: 16px;
}
.footer_menu span {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: 750;
	font-size: 18px;
	line-height: 26px;
	color: #575F73;
	margin-bottom: 16px;
	display: flex;
}
.footer_menu ul li {
	margin-bottom: 2px;
}
.footer_menu ul li a {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 28px;
	color: #A8B0C6;
}
.footer_menu ul li a:hover {
	color: #0466C8;
}
.footer_bottom {
	justify-content: space-between;
	padding-top: 80px;
}
.footer_copyright, .footer_platforma {
	font-family: "HelveticaNeueCyr", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #A8B0C6;
}
.footer_platforma a {
	font-weight: bold;
}
.off-canvas {
	background: #262B36;
	height: 380px;
}
.canvas_search__form input[type=submit] {
	width: 100px;
	height: 100px;
	background-image: url(img/header-search.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.canvas_search__form input[type=text]::placeholder {
	color: #0466C8;
}
.canvas_search__form input[type=text] {
	padding: 26px 16px;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	margin-bottom: 0;
	height: 42px;
	color: #fff;
	font-size: 42px;
	height: 100px;
}
.canvas_inner {
	padding-top: 32px;
}
.canvas_menu__title {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #0466C8;
	margin-bottom: 11px;
	display: flex;
}
.canvas_menu ul li a {
	font-family: "Avenir Next Cyr", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.canvas_menu ul li a:hover {
	color: #0466C8;
}
.canvas_menu ul {
	width: 560px;
	height: 100px;
	flex-wrap: wrap;
}
.canvas_menu ul li {
	margin-bottom: 7px;
}
.mobile_top {
	background: #2D354D;
}
.mobile_top__inner {
	justify-content: flex-end;
}
.anonce .section_block:nth-child(2n){
  display: none;
}
.anonce .section_block{
	width: 50%;
}
@media (max-width: 1200px) {
	.container {
		max-width: 848px;
	}
	.phone_item__number, .banner__title, .slider-main figure figcaption a h3, .section_title h2 {
		font-size: 20px;
	}
	.header_bottom__item {
		padding-left: 0;
		padding-right: 0;
	}
	.slider-main .slick-list {
    width: 65%;
	}
	.slider-main figure img, .slider-main {
		height: 390px;
	}
	.slider__dots li img {
    width: 272px;
    height: 120px;
    z-index: -1;
    position: relative;
	}
	.banner_content {
		background-position: bottom;
	}
	.banner_desc p {
		font-size: 14px;
	}
	.faq_inner {
		flex-wrap: wrap;
	}
	.faq_inner .section_block:first-child {
		width: 100%;
		height: 140px;
	}
	.faq_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.faq_list li {
		width: 50%;
	}
	.faq_inner .section_block, .news_block, .news_block:last-child {
		width: 50%;
	}
	.news__img img {
		height: 250px;
	}
	.anonce_mini_content h3, .news_content h3, .section__url h3 {
		font-size: 16px;
	}
	.faq .section_block:first-child .section_content {
		background: transparent;
	}
	.header_logo__desc {
		font-size: 22px;
	}
	.anonce_date {
		font-size: 14px;
		font-weight: normal;
	}
	.footer_logo__desc {
		font-size: 20px;
	}
	.footer_menu span {
		font-size: 16px;
	}
	.header_login {
		display: none;
	}
}
@media (max-width: 850px) {
	.container {
		max-width: 320px;
	}
	.slider-main .slick-list {
		width: 100%;
	}
	.slider-main figure figcaption {
    background: #0466C8;
    padding: 16px;
    color: #fff;
    width: 100%;
    height: 150px;
    position: relative;
    right: auto;
    bottom: 0;
	}
	.slider-main figure img {
		height: 200px;
	}
	.slider-main {
		height: 350px
	}
	.banner_content {
    background-position: 25% 0%;
		background-size: auto;
		height: 482px;
		position: relative;
		background-color: #fff;
	}
	.banner_desc {
    width: 100%;
    position: absolute;
    margin-left: auto;
    padding: 24px;
    bottom: 0;
		left: 0;
	}
	.faq_list {
		flex-direction: column;
	}
	.faq_inner .section_block:first-child, .section_content {
		height: auto;
	}
	.faq_list li, .faq_inner .section_block, .news_block, .news_block:last-child {
		width: 100%;
	}
	.faq_inner .section_block, .news_block, .news_block:last-child {
		margin-bottom: 16px;
	}
	.faq__phone {
		font-size: 22px;
	}
	.blue-url {
		font-size: 14px;
	}
	.anonce .section_block:first-child, .news_block:first-child {
		display: flex;
	}
	.anonce_content {
		height: auto!important;
		padding: 24px!important;
	}
	.anonce .section_block {
		width: 100%;
	}
	.footer {
		background: #313A52;
	}
	.news_desc {
		padding: 24px;
	}
	.footer_block:first-child, .footer_block {
		width: 100%;
	}
	.footer .block_inner {
		flex-wrap: wrap;
	}
	.footer_logo__desc, .footer_menu span {
		color: #fff;
	}
	.footer_menu {
		width: 50%;
	}
	.footer_bottom {
		flex-direction: column;
		padding-top: 32px;
	}
	.footer_platforma a {
		color: #A8B0C6;
	}
	.footer_search__mobile {
		margin-top: 32px;
	}
	.footer_search__form input[type=submit] {
		background-color: #3D4866;
	}
	.footer_search__form input[type=text] {
		background: #3D4866;
		font-size: 14px;
	}
	.slider__dots {
		display: none!important;
	}
	.slider_section {
		top: 0;
	}
	.anonce .section_block, .news_block, .slider__dots, .header_bottom, .mobile_top, .footer_logo p, .footer_search, .header_menu {
		display: none;
	}
	.header_logo__desc {
		font-size: 14px;
	}
	.header_logo__img svg {
		width: 32px;
		height: 32px;
	}
	.header_top {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.header {
		padding-bottom: 0;
	}
}
